@media (max-width:480px) {

}

@media (min-width:480px) {

}

#main{
    margin:54px 49px 0 49px;
}

#header{
    display: flex;
    display: -webkit-flex;
    flex-direction:row;
    justify-content:space-between;
}

.name{

}

.nav-items{
}

.nav-items span{
    margin-left: 15px;
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
}

section{
    margin-top:216px;
}

.halfUnit{
    display: flex;
    display: -webkit-flex;
}

.square{
    flex:1;
    width: 33.3%;
    height: 0;
    padding-bottom: 33.3%;
}

.firstImg{
    background-image: url("/peipeiiii/static/img/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.thirdImg{
    background-image: url("/peipeiiii/static/img/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fifthImg{
    background-image: url("/peipeiiii/static/img/3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.comment{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.date{
    margin-top: 54px;
    text-align: center;
    font-family: Georgia;
    color: #0090C8;
}

.introduction{
    margin-top: 23px;
    text-align: center;
    font-family: HYQiHei;
    color: #36434D;
}

