html{
    font-size:12px;
}

@media only screen
and (max-device-width:480px) {
    .large-unit{
        display: none;
    }
    #large-header{
        display: none;
    }

    #small-header{
        display: flex;
        display: -webkit-flex;
        flex-direction:row;
        justify-content:center;
        margin-top: 33px;
    }

    #main{
    }

    .small-nav-items{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction:column;
        font-family: Verdana;
        font-weight: bold;
        font-size: 14px;
        color: #36434D;
        z-index: 1000;
    }

    .small-nav-items div{
        height: 48px;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:center;
        background-color: #FFFFFF;
    }

    .small-nav-items .selected{
        background-color: #979797;
    }

    .small-unit{
        margin-top: 41px;
    }

    .small-half-unit{
        display: flex;
        display: -webkit-flex;
    }

    .square{
        flex:1;
        width: 50%;
        height: 0;
        padding-bottom: 50%;
    }
    .small-img{
        position: relative;
        background-size: cover;
        background: url("/static/img/1.png") no-repeat 50% 50%;
    }
    .small-comment{
        background-color: #F5F5F5;
    }
}



@media only screen
and (min-device-width:480px) {
    #large-header{
        display: flex;
        display: -webkit-flex;
        flex-direction:row;
        justify-content:space-between;
        margin-top: 33px;
    }
    .large-unit{
        margin-top:216px;
    }
    #small-header{
        display: none;
    }
    #main{
        margin:54px 49px 0 49px;
    }
    .small-nav-items{
        display: none;
    }
    .square{
        flex:1;
        width: 33.3%;
        height: 0;
        padding-bottom: 33.3%;
    }
}



.name{
}

.nav-items{
}

.nav-items span{
    margin-left: 15px;
    font-size: 14px;
    font-family: Verdana;
    font-weight: bold;
}


.halfUnit{
    display: flex;
    display: -webkit-flex;
}



.firstImg{
    position: relative;
    background-image: url("/static/img/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.thirdImg{
    position: relative;
    background-image: url("/static/img/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fifthImg{
    position: relative;
    background-image: url("/static/img/3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.comment{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.date{
    margin-top: 54px;
    text-align: center;
    font-family: Georgia;
    color: #0090C8;
}

.introduction{
    margin-top: 23px;
    text-align: center;
    font-family: HYQiHei;
    color: #36434D;
}

.arrow-left {
    position: absolute;
    right: 0;
    top: 50%;
    width: 0px;
    height: 0px;
    margin-top: -16.5px;
    border-top: 16.5px solid transparent;
    border-bottom: 16.5px solid transparent;
    border-right: 20px solid #F5F5F5;
}

.arrow-up {
    position: absolute;
    left: 50%;
    bottom:0;
    width: 0px;
    height: 0px;
    margin-left: -16.5px;
    border-left: 16.5px solid transparent;
    border-right: 16.5px solid transparent;
    border-bottom: 20px solid #F5F5F5;
}

.arrow-right {
    position: absolute;
    left: 0px;
    top:50%;
    margin-top: -16.5px;
    width: 0;
    height: 0;
    border-top: 16.5px solid transparent;
    border-bottom: 16.5px solid transparent;
    border-left: 20px solid #F5F5F5;
}

/**small screen*/
.small-name{
    width: 65px;
    height: 30px;
}










